body {
	background-color: rgb(211, 240, 250);
	color: #093a5d;
	font-family: Tahoma, Arial;
}

#ramka {
	background-color: aliceblue;
	width: 80%;
	border-radius: 20px;
	text-align: center;
	margin: auto;
	min-height: 600px;

}

#pole1,
#pole2,
#pole3 {
	width: 30%;
	float: left;
	margin-left: 20px;
}

img {
	max-width: 100%;
	height: 20vw;
}

#przycisk {
	clear: both;
}

button {
	font-size: 20px;
	background-color: #436fd1;
	color: aliceblue;
	width: 150px;
	height: 50px;
}

#wynik {
	width: 150px;
	height: 50px;
	border: solid #436fd1;
	margin: auto;

}
